body {
    background-color: black;
}

.container-post {
    border:1px solid black;
    margin: 25%;
    background-color:white;
    
}
.post-header {   
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}

.titulo {    
    padding-right: 20px;
    font-family: 'Golos Text', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

/*div {
    border:1px solid rgb(10, 228, 39);
    /*align-items: flex-end;
justify-content: center;
flex-direction: row-reverse;
align-items: flex-end; 
}*/

.elipsis-menu {
    padding-left: auto;
    margin-left: auto;
    display: flex;
    align-items: center;           
}

.image{
    width: 100%;
    margin: auto;
}

.user-interaction {
    margin-left: 13px;    
    display: flex;
    flex-direction: row;  
}
.banderin{
    padding-left: 65%;     
    display: flex;
    justify-content: flex-end; 
}

#user-interaction {
    margin: 4px;   
}

.parrafo, .parrafo-especial {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Golos Text', sans-serif;
}

strong, .span-t {
    font-weight: bold;
}