.container-post {
    border:1px solid black;
    margin: 10px
}
.post-header {
    border:1px solid rgb(10, 228, 39);
    display: flex;
    justify-content: space-between;
}
.icon {

}
.central {
    
}
.elipsis-menu {
    display: flex;
    
}

.post-img{
    border:1px solid red;
    display: flex;
    align-items: flex-start
}

.user-interaction {
    display: flex;
    justify-content:flex-start
}